
<p style="text-align: justify;">
  Ваша місія - розподілити наявну кров різних груп серед пацієнтів, які потребують переливання, враховуючи обмеження сумісності кожної групи крові.
  Крові не завжди достатньо, щоб задовольнити всі потреби. Вам буде надано інформацію про кількість кожної групи крові та потреби кожного типу пацієнтів.
  Ваша мета - оптимально розподілити наявну кров, дотримуючись правил сумісності.
  Пам'ятайте, що оптимальних рішень може бути декілька, тобто таких, що використовують максимально можливу кількість наявної крові.
</p>
<p>Обмеження сумісності:</p>
<p style="text-align: center;">
  <img  title="example" src="{{MEDIA}}blood-distr.svg" alt="example" style="max-height: 250px"/>
</p>

<p>
   <strong>Вхідні дані:</strong> Кількість крові<em>(blood_avail</em>) та потреби у крові<em>(blood_needs</em>) для кожної групи крові у вигляді об'єктів карти {% if is_js %}{% else %} словників <span>(dict)</span>{% endif %} з рядковими ключами (<span>str{% if is_js %}ing{% endif %}</span>) та цілочисельними значеннями (<span>{% if is_js %}number{% else %}int{% endif %}</span>).
</p>


<p>
   <strong>Вихідні дані:</strong> На виході буде отримано розподіл кількості крові для кожної групи крові у вигляді {% if is_js %}об'єкта карти об'єктів карти{% else %}словника словників <span>(dict)</span>{% endif %} з рядковими ключами (<span>str{% if is_js %}ing{% endif %}</span>) та цілочисельними значеннями (<span>{% if is_js %}number{% else %}int{% endif %}</span>).
</p>

<p>
    <strong>Приклади:</strong>
</p>
<pre class="brush: python">
distribute_blood({'A': 30, 'B': 60, 'AB': 30, 'O': 60}, {'A': 30, 'B': 40, 'AB': 50, 'O': 60}) == 
{
   'A': {'A': 30, 'B': 0,  'AB': 0,  'O': 0},
   'B': {'A': 0,  'B': 40, 'AB': 20, 'O': 0},
  'AB': {'A': 0,  'B': 0,  'AB': 30, 'O': 0},
   'O': {'A': 0,  'B': 0,  'AB': 0, 'O': 60}
}

distribute_blood({'A': 40, 'B': 30, 'AB': 30, 'O': 40}, {'A': 30, 'B': 35, 'AB': 45, 'O': 30}) == 
{
   'A': {'A': 30, 'B': 0,  'AB': 10, 'O': 0},
   'B': {'A': 0,  'B': 30, 'AB': 0,  'O': 0},
  'AB': {'A': 0,  'B': 0,  'AB': 30, 'O': 0},
   'O': {'A': 0,  'B': 5,  'AB': 5,  'O': 30}
}

</pre>

<p class="for_info_only" style="text-align: justify;">
   <strong>Як використовується:</strong>
    Ця місія зосереджена на ефективному розподілі доступної кількості крові для задоволення потреб пацієнтів на основі сумісності.
    Функція `distribute_blood` обчислює відповідний розподіл крові з урахуванням обмежень сумісності.
    Виконуючи цю місію, ви отримаєте уявлення про ефективні алгоритми розподілу крові та їх практичне застосування.
</p>


<p class="for_info_only">
    Попередні <strong>умови</strong><br/> 
    0 &le; кількість крові;<br/>
    0 &le; потреби в крові. 
</p>

