
<p style="text-align: justify;">
  Ваша задача - распределить имеющуюся кровь разных типов среди пациентов, нуждающихся в переливании, учитывая ограничения по совместимости каждой группы крови.
  Запасы крови не всегда достаточны для удовлетворения всех потребностей. Вам будут предоставлены данные о количестве каждой группы крови и потребностях каждого типа пациентов.
  Ваша цель - оптимально распределить имеющуюся кровь, соблюдая правила совместимости.
  Имейте в виду, что может быть несколько оптимальных решений - тех, которые используют максимально возможное количество имеющейся крови.
</p>
<p>Ограничения совместимости:</p>
<p style="text-align: center;">
  <img  title="example" src="{{MEDIA}}blood-distr.svg" alt="example" style="max-height: 250px"/>
</p>

<p>
   <strong>Входные данные:</strong> Количество крови<em>(blood_avail</em>) и потребности в крови<em>(blood_needs</em>) для каждой группы крови в виде объектов {% if is_js %}map{% else %}словарей <span>(dict)</span>{% endif %} со строковыми ключами (<span>str{% if is_js %}ing{% endif %}</span>) и целочисленными значениями (<span>{% if is_js %}number{% else %}int{% endif %}</span>).
</p>


<p>
   <strong>Выходные данные:</strong> На выходе Вы получите распределение количества крови для каждой группы крови в виде {% if is_js %}объекта карты объектов карты{% else %}словаря словарей <span>(dict)</span>{% endif %} со строковыми ключами (<span>str{% if is_js %}ing{% endif %}</span>) и целочисленными значениями (<span>{% if is_js %}number{% else %}int{% endif %}</span>).
</p>

<p>
    <strong>Примеры:</strong>
</p>
<pre class="brush: python">
distribute_blood({'A': 30, 'B': 60, 'AB': 30, 'O': 60}, {'A': 30, 'B': 40, 'AB': 50, 'O': 60}) == 
{
   'A': {'A': 30, 'B': 0,  'AB': 0,  'O': 0},
   'B': {'A': 0,  'B': 40, 'AB': 20, 'O': 0},
  'AB': {'A': 0,  'B': 0,  'AB': 30, 'O': 0},
   'O': {'A': 0,  'B': 0,  'AB': 0, 'O': 60}
}

distribute_blood({'A': 40, 'B': 30, 'AB': 30, 'O': 40}, {'A': 30, 'B': 35, 'AB': 45, 'O': 30}) == 
{
   'A': {'A': 30, 'B': 0,  'AB': 10, 'O': 0},
   'B': {'A': 0,  'B': 30, 'AB': 0,  'O': 0},
  'AB': {'A': 0,  'B': 0,  'AB': 30, 'O': 0},
   'O': {'A': 0,  'B': 5,  'AB': 5,  'O': 30}
}

</pre>

<p class="for_info_only" style="text-align: justify;">
   <strong>Как это используется:</strong>
    Это задание направлено на эффективное распределение имеющегося количества крови для удовлетворения потребностей пациентов с учетом совместимости.
    Функция `distribute_blood` рассчитывает соответствующее распределение крови с учетом ограничений совместимости.
    Выполнив это задание, Вы получите представление об эффективных алгоритмах распределения крови и их практическом применении.
</p>


<p class="for_info_only">
   <strong>Предпосылки</strong><br/> 
    0 &le; количество крови;<br/>
    0 &le; потребности в крови. 
</p>

